h2 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 35px;
  padding: 0 20px;

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

section#main {
  display: flex;
  flex-direction: row;

  .left {
    width: 66%;
    background: #14132B;
    border: 2px solid #1F1E34;
    border-radius: 0 0 150px 0;
    margin-right: 125px;
    margin-bottom: 130px;
    padding: 60px 140px 90px calc(max(75px, calc(100vw - 1213px) / 2));

    @media screen and (max-width: 1350px) {
      width: 100%;
      border-radius: 0;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-right: 10px;
      padding-left: 10px;
    }

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 200px;

      img.logo {
        width: 60px;
      }

      h3.app-name {
        font-weight: 600;
        color: white;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        letter-spacing: 0.01em;
        margin-left: 20px;
      }
    }

    span.advantages {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.01em;
      color: #9674F5;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      margin-top: 10px;

      @media screen and (max-width: 768px) {
        font-size: 36px;
      }
    }

    p.description {
      margin-top: 20px;
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      letter-spacing: 0.01em;
      color: rgba(255, 255, 255, 0.8);
      width: calc(min(580px, 90vw));
    }

    button.download {
      display: flex;
      flex-direction: row;
      padding: 15px 30px;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: white;
      background: #9674F5;
      box-shadow: 0 3px 24px rgba(150, 116, 245, 0.25), inset -2px 3px 10px rgba(255, 255, 255, 0.15), inset 2px -3px 7px rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      border: none;
      cursor: pointer;
      margin-top: 30px;
      transition: background 300ms ease, box-shadow 300ms ease;

      &:hover {
        background: #7f57f0;
      }

      &:active {
        box-shadow: 0 0 0 rgba(150, 116, 245, 0.0), inset -2px 3px 10px rgba(255, 255, 255, 0.15), inset 2px -3px 7px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 32px;
        height: 32px;
        margin-right: 15px;
      }
    }


  }

  .right {
    width: 33%;
    margin-right: calc(max(75px, calc(100vw - 1213px) / 2));

    img {
      margin-top: 130px;
      width: 100%;
    }

    @media screen and (max-width: 1350px) {
      display: none;
    }
  }
}

section#about {
  margin: 150px auto 0;
  text-align: center;

  @media screen and (max-width: 1336px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }

  p {
    margin: 0 auto;
    padding: 0 20px;
    width: calc(min(700px, 90vw));
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.85);
  }
}

section#features {
  margin: 250px auto 0;
  text-align: center;

  @media screen and (max-width: 1336px) {
    margin-top: 200px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 120px;
  }

  .features-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .feature {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 15px 100px 0;

      @media screen and (max-width: 768px) {
        &#forecast {
          margin-bottom: 50px;
        }
      }

      img.icon {
        width: 200px;
        height: 200px;
      }

      h5 {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 25px;
        margin-bottom: 10px;
      }

      p {
        width: 257px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }
}

section#screenshots {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1336px) {
    margin-top: 200px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 120px;
  }

  h2 {
    margin-bottom: 65px;
  }

  .grid {
    width: calc(min(90vw, 1200px));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    img {
      width: 100%;
    }
  }
}

section#contact {
  width: calc(min(90vw, 1120px));
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(42px);
  border-radius: 35px;
  padding: 85px 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  margin: 50px auto 0;

  @media screen and (max-width: 1350px) {
    padding: 40px 60px;
    border-radius: 25px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px;
    border-radius: 20px;
  }

  h3 {
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;

    @media screen and (max-width: 1350px) {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .input-container {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #6E6D82;
      border-radius: 15px;
      padding: 18px 32px;
      font-size: 24px;
      color: white;
      outline: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.4);
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
        padding: 12px 24px;
      }
    }

    button {
      padding: 8px 45px;
      background-color: #A78BF0;
      border-radius: 15px;
      color: white;
      font-size: 24px;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      transition: background-color 300ms ease, transform 300ms ease;
      box-shadow: 0 2px 8px rgba(92, 39, 232, 0.3);

      &:hover {
        background-color: #9d7fec;
      }

      &:active {
        transform: scale(0.98);
      }

      @media screen and (max-width: 768px) {
        font-size: 18px;
        padding: 6px 30px;
        border-radius: 10px;
        top: 6px;
        right: 6px;
      }
    }
  }
}

section#author {
  margin-top: 170px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1240px) {
    margin-top: 120px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 75px;
  }

  span {
    color: white;
    font-size: 28px;
    text-align: center;

    .name {
      color: #BB82F3;
    }
  }
}

@mixin geometricLight($color, $blur, $opacity: 0.6) {
  &:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    background: $color;
    opacity: $opacity;
    border-radius: 10000050%;
    filter: blur($blur);
    width: 100%;
    height: 100%;
  }
}

@mixin geometricAnimation($delay) {
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey((10 + random(30)) + px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  animation: float (3 + random(10)) + s ease-in-out infinite;
  animation-delay: (1 + random(15)) + s + $delay;
}

.geometric {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 100000;

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 1350px) {
    img {
      transform: scale(0.75);
    }
  }

  .rock {
    position: absolute;
    top: 59px;
    left: 53%;
    @include geometricLight(#6967E7, 175px, 60%);
    @include geometricAnimation(0ms);

    @media screen and (max-width: 1350px) {
      left: 75%;
    }
  }

  .torus {
    position: absolute;
    top: 180px;
    left: -90px;
    @include geometricAnimation(5200ms)
  }

  .torus-half {
    position: absolute;
    top: 768px;
    right: 20px;
    @include geometricLight(#6967E7, 200px, 25%);
    @include geometricAnimation(1756ms);

    @media screen and (max-width: 1350px) {
      top: 600px;
      right: -150px;
    }
  }

  .cube {
    position: absolute;
    top: 1040px;
    left: 70px;
    @include geometricLight(#6967E7, 200px, 34%);
    @include geometricAnimation(2750ms);

    @media screen and (max-width: 1350px) {
      top: 1130px;
      left: 10px;
    }
  }

  .torus-2 {
    position: absolute;
    top: 1836px;
    right: 100px;
    @include geometricLight(#6967E7, 200px, 34%);
    @include geometricAnimation(5433ms);

    @media screen and (max-width: 1350px) {
      top: 1800px;
      right: -10px;
    }
  }

  .cone {
    position: absolute;
    top: 2788px;
    left: -80px;
    @include geometricLight(#A881F1, 200px, 34%);
    @include geometricAnimation(7031ms);

    @media screen and (max-width: 1350px) {
      top: 2788px;
      left: -130px;
    }
  }

  .dome {
    position: absolute;
    top: 3780px;
    right: 60px;
    @include geometricLight(#A881F1, 200px, 40%);
    @include geometricAnimation(7031ms);

    @media screen and (max-width: 1350px) {
      display: none;
    }
  }

  .sphere {
    position: absolute;
    top: 4280px;
    left: 50px;
    @include geometricLight(#A881F1, 200px, 40%);
    @include geometricAnimation(7031ms);

    @media screen and (max-width: 1350px) {
      display: none;
    }
  }

  #screenshot-light-1 {
    position: absolute;
    top: 2300px;
    right: 30%;
    background: #6A67EE;
    opacity: 40%;
    border-radius: 10000050%;
    filter: blur(200px);
    width: 400px;
    height: 400px;
    z-index: -1;
  }
}

